/* customizable snowflake styling */
.snowflake {
	color: #fff;
	font-size: 2em;
	font-family: Arial;
	text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:8s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:8s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
font-family: 'Raleway', sans-serif;
		color:#fff;
		display: block;
		margin: 0 auto;
		padding: 15px 0;
		text-align: center;
}
.demo a{
	font-family: 'Raleway', sans-serif;
	color: #000;		
}
#Christmas_Lights {
	height: 100%;
	margin: 0;
	position: absolute;
	width: 100%;
	z-index: 1000
  }
  
  .light_cord {
	fill: none;
	stroke: #174700;
  }
  
  .light_fixture {
	fill: #134413;
  }
  
  .red_bulb {
	fill: #CA2128;
	stroke: #6D6D6D;
	stroke-miterlimit: 10;
  }
  
  .green_bulb {
	fill: #2D754A;
	stroke: #6D6D6D;
	stroke-miterlimit: 10;
  }
  
  .blue_bulb {
	fill: #2C3EA8;
	stroke: #6D6D6D;
	stroke-miterlimit: 10;
  }
  
  .white_bulb {
	fill: #F5EED7;
	stroke: #6D6D6D;
	stroke-miterlimit: 10;
  }
  
  .gold_bulb {
	fill: #ffcc5e;
	stroke: #6D6D6D;
	stroke-miterlimit: 10;
  }
  
  
  /* Simply changing the opacity of the SVG fill to create the glow effect for the bulbs */
  
  .bulb {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: glow;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
	animation-name: glow;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
  }
  
  @-webkit-keyframes glow {
	0% {
	  fill-opacity: 0.25;
	}
	100% {
	  fill-opacity: 1
	}
  }
  
  @keyframes glow {
	0% {
	  fill-opacity: 0.25;
	}
	100% {
	  fill-opacity: 1.0
	}
  }
  
  
  /* Made a set of ten animation delays to create a more random effect of lights blinking.  Simplest way without jumping through SVG hoops. */
  
  .blink-1 {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
  }
  
  .blink-2 {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
  }
  
  .blink-3 {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
  }
  
  .blink-4 {
	-webkit-animation-delay: 6s;
	animation-delay: 6s;
  }
  
  .blink-5 {
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
  }
  
  .blink-6 {
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
  }
  
  .blink-7 {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
  }
  
  .blink-8 {
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
  }
  
  .blink-9 {
	-webkit-animation-delay: 0.95s;
	animation-delay: 0.95s;
  }
  
  .blink-10 {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
  }